*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

/* h1 {
    color: bisque;
}

#id{
    color: blue;
}

h2{
    background-color: red;
}

.class {
    color: yellow;
} */

#box1 {
    height: 100px;
    width: 100px;
    background-color: crimson;
    position: absolute;
    left: 60%;
    top: 10%;
    z-index: 1;
}
#box2 {
    height: 100px;
    width: 100px;
    background-color: aqua;
    position: absolute;
    left: 62%;
    top: 10%;
}
#box3 {
    height: 100px;
    width: 100px;
    background-color: chocolate;
    position: absolute;
    left: 70%;
    top: 10%;
}
